.container{
    width: 1280px;
}

.black{
    color: black;
}

.title{
    color: cornflowerblue;
    margin-left: 98px;
    margin-top: 63px;
    font-size: 80px;
    font-family: "Roboto Light";
    text-decoration-line: none;
}

.nav-container{
    background-color: #35444F;
    font-size: 24px;
    line-height: 28px;
    display: inline-block;
    padding: 180px 99px 1030px 90px;

}

.nav-menu-link{
    text-decoration-line: none;
    color: white;
}