@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    font-family:'Montserrat', sans-serif;
}

*{
    max-width: 1280px;
}

.nav-menu-list{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 27px;
}

.nav-menu-list-item{

}

.nav-link{
text-decoration-line: none;
    color: red;
    padding: 25px 70px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
}

.background-image{
    width: 1280px;
}

.header-slogan{
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
    line-height: 28px;
    display: inline-flex;
    align-items: flex-end;
    letter-spacing: 3px;
    position: absolute;
    padding: 48px 253px 573px;
    color: #373737;
}

.main-text{
    margin-right: 67px;
    margin-left: 67px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #373737;
    line-height: 26px;
    position: absolute;
    padding: 115px 67px;
}

.button{
    background-color: red;
    position: absolute;
    width: 191px;
    height: 51px;
    color: white;
    border: none;
    font-size: 12px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 2%;
}