.first,
.second,
.third,
.bgi {
    background-image: url(cloud.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
    top: -229px;
    height: 950px;
}
.second {
    z-index: 1;
    top: 200px;
    height: 1150px;
    background-image: url(mountaing.png);
}
.third {
    z-index: 2;
    top: 410px;
    height: 800px;
    background-image: url(human.png);
}
.bgi {
    z-index: 3;
    top: 0;
    left: 0;
    height: 100vh;

    background-image: url(BGHero.png);
}
.container{
    width: 1200px;
    margin: 0 auto;
}

.head{
    justify-content: space-between;
    padding-top: 64px;
    display: flex;
    align-items: center;
    color: white;
}

.head-title{
    font-size: 24px;
    text-transform: uppercase;
}

.head-menu{
    display: flex;
}

.head-menu__item:not(:last-child){
    margin-right: 40px;
}

.head-profile{
    padding: 12px 25px;
    border-radius: 10px;
    border: 1px solid black;
    line-height: 21px;
    font-size: 17px;
}

.slogan-guide {
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 6px;
    text-transform: uppercase;

    /* Accent */
    color: #FBD784;
    margin-bottom: 32px;
}

.slogan-guide:before{
content: "";
    width: 72px;
}

.slogan-title{
    font-size: 56px;
    text-transform: capitalize;
    margin-bottom: 32px;
    color: white;
    position: static;
    width: 950px;
    height: 200px;
}

.slogan-scroll{
    color: white;
    font-weight: bold;
    font-size: 18px;
    position: relative;
}

.slogan-scroll::after{
    height: 35px;
    content: "";
    width: 2px;
    background-color: white;
    display: inline-block;
    right: -20px;
    position: absolute;
}

.slogan-scroll::after{
    top: calc((100% - 35px) / 2);
}
